vagrant/.vagrant/**
vagrant/.vagrant/*
./vagrant/.vagrant/**
/vagrant/*.log
*.log
vagrant/ubuntu-bionic-18.04-cloudimg-console.log
usr/share/www/html/img/*
vagrant/ubuntu-bionic-18.04-cloudimg-console.log
